<a id="back-top" href="javascript:void(0)"><i class="icon-chevron-up"></i></a>
<div class="background"></div>
<!-- home -->
    <section id="home" class="box nav-section">
        <div class="container">
            <div class="panel">
                <div class="row-fluid">
                    <div class="span12">
                        <hgroup id="intro" style="display: none">
                            <h2>Take&Make</h2>
                            <h3>Take what you want, Make what you love.</h3>
                            <a href="#about" class="button btn btn-large btn-info"><i class="icon-circle-arrow-down"></i> Learn More</a>
                        </hgroup>

                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="wrapper-sections">
    

    <!-- features -->
    <section id="about" class="nav-section">
       <h2>What's in the box?</h2>
       <div class="container quote">
       <div>This place is dedicated to all you girls who love and want to make beautiful things! Giving creators, the ability to simply focus on creating on their own terms; time and place, means that it would probably be more convenient to create more!</div>

       
        <div>How? By following fun-loving, leading instructors together with all the materials needed for creating the desired crafts.</div>
        
       </div>
       <div class="row-fluid">
          
            <div class="span12">
              <div class="row-fluid panel1">
                
                <div class="span4 offset2">
                  <div class="panel-item border-circle">
                    <div class="panel-icon"><i class="icon-expand"></i></div> <!-- panel-icon -->
                    <div class="panel-info">
                      <h3>Online Course</h3>
                      
                    </div> <!-- panel-info -->
                  </div> <!-- panel-item -->
                </div> <!-- span4 -->
                <div class="span1">
                  <div class="panel-icon">
                  <i class="icon-plus"></i>
                </div>
                </div>
                
                <div class="span2">
                  <div class="panel-item border-circle">
                    <div class="panel-icon"><i class="icon-gift"></i></div> <!-- panel-icon -->
                    <div class="panel-info">
                      <h3>Course Kit</h3>
                     
                     </div> <!-- panel-info -->
                  </div> <!-- panel-item -->
                </div> <!-- span4 -->
                
                
                
              </div> <!-- panel1 -->
            </div> <!-- span12 -->

          </div>
      <div class="container quote born">
       <div><i class="icon-gift"></i> <span class="brand">Take&Make</span> was born through the delirious local success of DeaLiri, so we have decided to expand!</div>
       <div><i class="icon-gift"></i> We wanted to share with you that in a few weeks <span class="brand">Take&Make</span>'s website will come to life and will allow girls to simply: <span class="brand">Take</span> online courses <span class="brand">& Make</span> their desired DIY crafts straight from the box!</div>

      </div>
          
      

    </section>
    <section id="ono">
 <p class="quote container">"I keep getting compliments for the bracelet I made from your box, and my friends don't believe me when I tell them that I made it!!", <span>Donna C.</span></p>
    </section>



    <section id="services"  class="nav-section">
      <h2>What's in it for you?</h2>
      <div class="container">
       <div class="span12">
          <div class="row">
            <div class="span4">
              <div><i class="icon-star"></i></div>
              <h1>Platform</h1>
              Be part of a growing community of star DIY instructors; which through it you could expand your customer and follower base
            </div>
            <div class="span4">
              <div><i class="icon-th-large"></i></div>
              <h1>Branding</h1>
              So, like all the leading pop-stars who have their own perfumes, you could 

              have your own DIY kit named after you! We know, a dream come true <i class="icon-smile"></i>
            </div>
            <div class="span4">
              <div><i class="icon-money"></i></div>
              <h1>Money</h1>
              Of course! What did you think? ;)
            </div>
          </div>
        </div>
      </div>
    </section>
     <section id="second">
<p class="quote container">"Your box was the best activity I had in a long time. It was amazing to create my own stuff!!", <span>Andrea M.</span></p>
    </section>
     <section id="joinus" class="nav-section">
      <h2>JOIN US!</h2>
      <div class="container quote">To join our team of superstar instructors – sign up here.</div>

<div class="container">
  
  
  <div class="row">
    <div class="span12">
      <div class="cform" id="contact-form">
       
       <%= render 'join_us' , :@contact => Contact.new%>
      </div>
    </div>
    <!-- ./span12 -->
  </div>
</div>
    </section>
     <section id="third">
<p class="quote container">"I never thought I could design on my own, but the course was clear and the box had exactly

what I needed to bring out my creativity!", <span>Shelly R.</span></p>
    </section>
 <section id="team"  class="nav-section">
    <h2>The TEAM</h2>
      <div class="container clearfix">
          <div class="span12">
              <div class="span4">
                  <div class="Team clearfix">
                      <div class="round-thumb-container">
                          <div class="round-thumb panel-team"> <span class="team1"><%= image_tag 'team/mika1.png' %></span>
                            <span class="team2"><%= image_tag 'team/mika4.png' %></span>

                          </div>

                      </div>
                       <h3>Mika Kayt</h3>

                       <h4>CO-FOUNDER & CEO</h4>

                      <p>Owning a debate workshop, being head of international marketing in the realm of aquaculture, and being responsible for business development and content in a couple of start-ups; Mika brings a diverse experience in the realm of business development and communications.</p>
                      <p>In her spare time she likes to dance, cook, debate, and learn new things.</p>
                      
                  </div>
              </div>
              <div class="span4">
                  <div class="Team clearfix">
                      <div class="round-thumb-container">
                          <div class="round-thumb panel-team"> <span class="team1"><%= image_tag 'team/yossi1.png' %></span>
                            <span class="team2"><%= image_tag 'team/yossi2.png' %></span>

                          </div>
                      </div>
                       <h3>Yossi Shalem</h3>

                       <h4>CO-FOUNDER & CTO</h4>

                      <p>Yossi brings vast and versatile experience in developing and managing large and complex web projects. Yossi founded several startups and worked in 5min, which was acquired by AOL during Yossi's time there. In 5min, Yossi was responsible for 30 million video views per day.</p>
                      <p>Yossi has a private brewery; he loves to cook; play the piano; and travel.</p>
                      
                  </div>
              </div>
              <div class="span4">
                  <div class="Team clearfix">
                      <div class="round-thumb-container">
                          <div class="round-thumb panel-team"><span class="team1"><%= image_tag 'team/liri1.png' %></span>
                            <span class="team2"><%= image_tag 'team/liri4.png' %></span>

                          </div>
                      </div>
                       <h3>Liri Halperin</h3>

                       <h4>CO-FOUNDER & CMO</h4>

                      <p>If you will look for Liri, she will probably be DIYing. As the owner of DeaLiri and former instructor, Liri taught thousands of girls how to create the crafts they have passion for. Today, she splits her time between working on the Take&Make platform and seeking after our next *star* instructor.</p>
                      <p>For fun Liri practices Yoga; traveling; writing; and making her own jewelry.</p>
                      
                  </div>
              </div>
          </div>
      </div>
    </section>
     <section id="forth">
<p class="quote container">"My girlfriends and I had the best time DIYing with your box! Where were you all this time?!", <span>Kerren D.</span></p>
     </section>

    <!-- contact -->
    <section id="contactus" class="nav-section">
      <h2>Contact Us</h2>
      <div class="quote container">
        <div class="row-fluid">
            
            <div class="span12">
              
             
              <div class="contact-email"><a href="mailto:info@takeandmake.co">info@takeandmake.co</a></div>
              <h3 class="contact-slogan">We are very cool, so why don't you follow us?</h3>
              
              <div class="contact-social">
                <a href="http://www.facebook.com/takeandmake" target="_blank">
                  <span class="icon-stack">
                    <i class="icon-circle bg-facebook icon-stack-base"></i>
                    <i class="icon-light icon-facebook"></i>
                  </span>
                </a>
               
                <a href="http://twitter.com/Takeandmake1" target="_blank">
                  <span class="icon-stack">
                    <i class="icon-circle bg-twitter icon-stack-base"></i>
                    <i class="icon-twitter icon-light"></i>
                  </span>
                </a>

                <a href="http://pinterest.com/takeandmake/boards" target="_blank">
                  <span class="icon-stack">
                    <i class="icon-circle bg-pinterest icon-stack-base"></i>
                    <i class="icon-pinterest icon-light"></i>
                  </span>
                </a>
                
              </div> <!-- contact-social -->
            
              <h5 class="contact-copyright">© 2013 Take&Make, all rights reserved</h5>
              
            </div> <!-- span12 -->

          </div>
      </div>
    </section>
</section>

    <!-- ligthbox -->
    <div style="display: none;" id="lightbox"><img id="bigimg" src="" /></div>
