<h1>Listing instructor_texts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Val</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructor_texts.each do |instructor_text| %>
  <tr>
    <td><%= instructor_text.name %></td>
    <td><%= instructor_text.val %></td>
    <td><%= link_to 'Show', instructor_text %></td>
    <td><%= link_to 'Edit', edit_instructor_text_path(instructor_text) %></td>
    <td><%= link_to 'Destroy', instructor_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instructor text', new_instructor_text_path %>
